mysql-connector-python==8.1.0
SQLAlchemy==1.4.41
sqlalchemy_utils==0.41.2
pydantic==1.10.13
uvicorn==0.23.2
fastapi==0.103.2
python-multipart==0.0.6
sqlmodel==0.0.8
babel==2.13.0
tomli==2.0.1
dacite==1.8.1
phonenumbers==8.13.22
borb==2.1.18
pyyaml==6.0.1
currencyconverter==0.17.11